{% extends "base.html" %}
{% block content %}
{% if user.is_authenticated %}
<div class="container">
    <div class="row" style="justify-content:flex-end">
        <div class="col-3">
            <div class="alert alert-info" >
                <a href ="#">{{ user.username }}</a>
                <a href="{% url 'logauth:logaut' %}">Logout</a>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="container">
    <div class="row" style="justify-content:flex-end">
        <div class="col-3">
            <div class="alert alert-info" >
                <a href ="{% url 'logauth:log' %}">Login</a>
            </div>
        </div>
    </div>
</div>
{% endif %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 style="margin-bottom: 40px;"> {{ pageTitle}} 
                    {% if user.is_staff %}<a class="btn btn-success" href="{% url 'testApp:addSubject' %}" style="font-weight: 900">+</a> {%endif%} 
                    <hr>
                </h2>
                {% if subjects %}
                    
                    {% for subject in subjects %}
                        <span style="flex-wrap:nowrap"> <a href="{% url 'testApp:detailsSubject' subject.id %}" class="btn btn-outline-primary" style=" min-width: 200px; margin-bottom: 10px; margin-right:5px"> {{subject.name}} {% if user.is_staff %} <a class="btn btn-danger" style="margin-top:-10px; margin-right:5px;" href="{% url 'testApp:deleteSubject' subject.id %}" style="font-weight: 900">x</a>
                            <a class="btn btn-warning" style="margin-top:-10px; margin-right:20px;" href="{% url 'testApp:changeSubject' subject.id %}" style="font-weight: 900">o</a>  {%endif%}</a> </span>
                    {%endfor%}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}