{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
<div class="container">
    <div class="row" style="justify-content:flex-end">
        <div class="col-3">
            <div class="alert alert-info" >
                <a href ="#">{{ user.username }}</a>
                <a href="{% url 'logauth:logaut' %}">Logout</a>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="container">
    <div class="row" style="justify-content:flex-end">
        <div class="col-3">
            <div class="alert alert-info" >
                <a href ="{% url 'logauth:log' %}">Login</a>
            </div>
        </div>
    </div>
</div>
{% endif %}
<a class="btn btn-primary" href="{% url 'testApp:main' %}"><-</a>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 style="margin-bottom: 40px;margin-top: 40px"> {{pageTitle}}
                <hr>
            </h2>
            <table class="table table-bordered text-center">
                <tr>
                    <th class="col-9">Название теста</th>
                    <th class="col-3">Количество вопросов</th>
                <tr>
                    <td>
                        
                    </td>
                </tr>
                <tr>
                    <td>
                        testApp
                    </td>
                </tr>
            </table> 
            {% comment %} {% if subjects %}
                <h2 style="margin-bottom: 40px;"> {{ pageTitle}} 
                    {% if user.is_staff %}<a class="btn btn-success" href="{% url 'testApp:addSubject' %}" style="font-weight: 900">+</a> {%endif%} 
                    <hr>
                </h2>
                {% for subject in subjects %}
                    <a href="{{subject.name}}" class="btn btn-outline-primary" style="margin-right:20px; min-width: 200px; margin-bottom: 10px;"> {{subject.name}} </a>
                {%endfor%}
            {% endif %} {% endcomment %}
        </div>
    </div>
</div>
{% endblock %}