{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">{{pageTitle}}</h1>
        </div>
        {% if err %}
        <script>
            alert('{{err}}');
        </script>
        {% endif %}
        <form class="text-center" method="POST" style="margin: 40px auto">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" class="btn btn-success" value="Начать">
        </form>
    </div>
</div>
{% endblock content %}