{% extends 'base.html' %} {% block content %} {% if user.is_authenticated %}
<div class="container">
  <div class="row" style="justify-content: flex-end">
    <div class="col-3">
      <div class="alert alert-info">
        <a href="{% url 'testApp:userStat' %}">{{ user.username }}</a>
        <a href="{% url 'logauth:logaut' %}">Logout</a>
      </div>
    </div>
  </div>
</div>
{% else %}
<div class="container">
  <div class="row" style="justify-content: flex-end">
    <div class="col-3">
      <div class="alert alert-info">
        <a href="{% url 'logauth:log' %}">Login</a>
      </div>
    </div>
  </div>
</div>
{% endif %} {% if user.is_staff%}
<div class="container" style="overflow-y: auto; max-height: 600px">
  <table class="table table-bordered">
    <tr class="row text-center">
      <th class="col">Имя пользователя</th>
      <th class="col">Наименование теста</th>
      <th class="col">Колличество баллов</th>
      <th class="col">Максимальное колличество баллов</th>
      <th class="col">Время старта</th>
      <th class="col">Время конца</th>
    </tr>

    {% for test, max_score in tests%}
    <tr class="row text-center">
      <td class="col">{{test.user.username}}</td>
      <td class="col">{{test.test}}</td>
      <td class="col">{{test.points}}</td>
      <td class="col">{{max_score}}</td>
      <td class="col">{{test.time_start}}</td>
      <td class="col">{{test.time_end}}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% else %} {% if user.is_authenticated %}
<div class="container">
  <table class="table table-bordered">
    <tr class="row text-center">
      <th class="col">Наименование теста</th>
      <th class="col">Колличество баллов</th>
      <th class="col">Максимальное колличество баллов</th>
      <th class="col">Время старта</th>
      <th class="col">Время конца</th>
    </tr>

    {% for test, max_score in tests%}
    <tr class="row text-center">
      <td class="col">{{test.test}}</td>
      <td class="col">{{test.points}}</td>
      <td class="col">{{max_score}}</td>
      <td class="col">{{test.time_start}}</td>
      <td class="col">{{test.time_end}}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endif %} {%endif%} {% endblock %}
